.dog-image{
    width: 200px;
    border-radius: 15px;
}

.dog-image2{
    width: 100px;
    height : 100px;
    margin-left: 20px;
    object-fit: contain;
    object-position: center;
}

.dog-image3 {
    width: 200px;
    margin-left: 20px;
    border-radius: 100px;
}