.logo {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 30px;
    vertical-align: middle;
}

.content{
    padding: 10px 20px;
    vertical-align: middle;
    width: 150px;
    border: none;
}

.tweet-button {
    padding: 5px 13px;
    background-color: rgb(46, 138, 212);
    color: white;
    border-radius: 30px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}