p {
    margin-top: 0;
    margin-bottom: 0;
}

div {
    width: 150px;
    display: inline-block;
}

.picture {
    width: 150px;
    display: inline-block;
    
}

.name {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

.friends {
    color: rgb(100, 100, 100);
    margin-bottom: 10px;
}

.add-button {
    padding: 10px 20px;
    background-color: rgb(75, 126, 221);
    color: white;
    border: none;
    border-radius: 4px;
}